@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
}
body {
	background-color: #f8f8f8;
}
header nav {
	background-color: white;
	padding: 20px 40px;
}
header nav a {
	text-decoration: none;
	color: #333333;
	font-weight: bold;
}

.intro__text {
	text-align: center;
	margin: 100px 0;
}
.intro__text h3 {
	font-size: 32px;
	font-weight: normal;
	color: #333333;
}

.intro__text h1 {
	font-size: 48px;
	line-height: 0.8;
	font-weight: 800;
	color: #333333;
}

.persons .person .circle {
	height: 125px;
	width: 125px;
	background-color: grey;
	border-radius: 50%;
	margin: 0 auto 35px;
}

.persons .person {
	width: 350px;
	display: inline-block;
	margin-bottom: 25px;
}

.persons {
	margin: 0;
	text-align: center;
}

hr {
	border-top: 1px solid #cfcfcf;
	margin: 75px 50px;
}
.table__section table {
	width: 100%;
	/*border-collapse: collapse; */
	border-spacing: 0 15px;
	margin-bottom: 100px;
	padding: 0 50px;
}
td,
th {
	padding: 20px;
	/* border: 1px solid black; */
}

th {
	color: white;
	background-color: #6885ed;
}

td {
	background-color: white;
}

th:first-child,
td:first-child {
	background-color: red;
}

.contact {
	background-color: #5e5d5d;
}

.contact h1 {
	color: white;
	font-size: 48px;
	padding: 75px 0;
	text-align: center;
	font-weight: 600;
	letter-spacing: 5.5px;
}

label {
	color: white;
}
.contact input,
.contact textarea {
	display: block;
	width: 650px;
	border-radius: 8px;
}
.contact input {
	padding: 10px 0;
}
